# Shootings in the US: Data Cleaning

In [23]:
# import dependencies
import pandas as pd
import numpy as np

In [2]:
# read tSV file (tab separated)
file_path = "../../data-analytics-bootcamp/Projects/project-4/Resources/shooting-1982-2023.csv"
df = pd.read_csv(file_path, encoding="utf-8")
df.head()

,case,location,date,summary,fatalities,injured,total_victims,location.1,age_of_shooter,prior_signs_mental_health_issues,...,weapons_obtained_legally,where_obtained,weapon_type,weapon_details,race,gender,latitude,longitude,type,year
0,Nashville religious school shooting,"Nashville, TN",3-27-23,"Audrey Hale, 28, who was a former student at t...",6,1,6,School,28,-,...,-,-,"semiautomatic rifle, semiautomatic handgun",-,-,"F (identified as transgender, per police)",-,-,Mass,2023
1,Michigan State University shooting,"East Lansing, Michigan",2-13-23,"Anthony D. McRae, 43, opened fire at Berkey Ha...",3,5,8,School,43,-,...,yes,-,semiautomatic handguns,-,Black,M,-,-,Mass,2023
2,Half Moon Bay spree shooting,"Half Moon Bay, California",1-23-23,"Chunli Zhao, 67, suspected of carrying out the...",7,1,8,workplace,67,-,...,-,-,semiautomatic handgun,-,Asian,M,-,-,Spree,2023
3,LA dance studio mass shooting,"Monterey Park, California",1-21-23,"Huu Can Tran, 72, fled the scene in a white va...",11,10,21,Other,72,yes,...,-,-,semiautomatic assault weapon (Details pending),-,Asian,M,-,-,Mass,2023
4,Virginia Walmart shooting,"Chesapeake, Virginia",11-22-22,"Andre Bing, 31, who worked as a supervisor at ...",6,6,12,Workplace,31,-,...,-,-,semiautomatic handgun,-,Black,M,-,-,Mass,2022

In [3]:
# Getting list of column names 
df.columns.to_list()

['case',
 'location',
 'date',
 'summary',
 'fatalities',
 'injured',
 'total_victims',
 'location.1',
 'age_of_shooter',
 'prior_signs_mental_health_issues',
 'mental_health_details',
 'weapons_obtained_legally',
 'where_obtained',
 'weapon_type',
 'weapon_details',
 'race',
 'gender',
 'latitude',
 'longitude',
 'type',
 'year']

In [4]:
# dropping unimportant variables
cols_to_drop = ['summary', 'prior_signs_mental_health_issues', 'mental_health_details',
                'weapons_obtained_legally', 'where_obtained', 'weapon_type', 'weapon_details']
df.drop(columns=cols_to_drop, inplace=True)
df.head()

,case,location,date,fatalities,injured,total_victims,location.1,age_of_shooter,race,gender,latitude,longitude,type,year
0,Nashville religious school shooting,"Nashville, TN",3-27-23,6,1,6,School,28,-,"F (identified as transgender, per police)",-,-,Mass,2023
1,Michigan State University shooting,"East Lansing, Michigan",2-13-23,3,5,8,School,43,Black,M,-,-,Mass,2023
2,Half Moon Bay spree shooting,"Half Moon Bay, California",1-23-23,7,1,8,workplace,67,Asian,M,-,-,Spree,2023
3,LA dance studio mass shooting,"Monterey Park, California",1-21-23,11,10,21,Other,72,Asian,M,-,-,Mass,2023
4,Virginia Walmart shooting,"Chesapeake, Virginia",11-22-22,6,6,12,Workplace,31,Black,M,-,-,Mass,2022

In [5]:
# Checking values in columns
cols = ['location.1', 'age_of_shooter', 'latitude', 'longitude', 'race', 'gender', 'type', 'year']
for col in cols:
    print(f'Column #{col}')
    print('-' * 30)        
    print(df[col].value_counts())
    print('~' * 50)

Column #location.1
------------------------------
Other          50
Workplace      45
School         22
Religious       7
Military        6
workplace       5
Other\n         3
religious       1
\nWorkplace     1
Airport         1
Name: location.1, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Column #age_of_shooter
------------------------------
21    8
28    7
44    7
20    6
45    5
19    5
22    5
26    5
15    4
24    4
36    4
29    4
43    4
41    4
40    4
42    4
39    4
25    3
35    3
31    3
27    3
23    3
47    3
38    3
32    3
18    3
34    3
64    2
17    2
57    2
-     2
37    2
51    2
59    2
52    1
33    1
66    1
54    1
48    1
16    1
67    1
11    1
72    1
70    1
50    1
46    1
55    1
Name: age_of_shooter, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Column #latitude
------------------------------
-             15
41.265719      1
42.236689      1
32.788387      1
47.6229        1
              ..
29.392825      1
37.9577016     1
39.9589        1
37.8043808     1
35.8209895     1
Name: latitude, Length: 127, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Column #longitude
------------------------------
-              15
-121.888533     1
-88.9028922     1
-88.331057      1
-122.397973     1
               ..
-76.99453       1
-122.337918     1
-84.2135309     1
-87.962537      1
-97.384246      1
Name: longitude, Length: 127, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Column #race
------------------------------
white              41
White              31
Black              16
-                  13
Latino             11
Asian              10
black               9
Other               5
Native American     3
unclear             1
White               1
Name: race, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Column #gender
------------------------------
Male                                         70
M                                            65
Female                                        2
Male & Female                                 2
F (identified as transgender, per police)     1
F                                             1
Name: gender, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Column #type
------------------------------
Mass     120
Spree     21
Name: type, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Column #year
------------------------------
2018    12
2022    12
2017    11
2019    10
2015     7
2012     7
2021     6
2016     6
1999     5
2013     5
2023     4
2009     4
2007     4
1993     4
2014     4
2011     3
2006     3
1998     3
1991     3
2008     3
1984     2
1992     2
2005     2
2020     2
1997     2
1989     2
1986     1
1987     1
1988     1
1990     1
2004     1
1994     1
1995     1
1996     1
2000     1
2001     1
2003     1
2010     1
1982     1
Name: year, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [6]:
# Recategorizing incidents location

# removing any extra number of spaces with only one space 
df['location.1'] = df['location.1'].str.replace(r'\s+', ' ', regex=True) 
# removing spaces in the begining and end of the string
df['location.1'] = df['location.1'].str.strip() 
# mapping old to new categories
catg_map = {'Other': 'Other', 'Workplace': 'Workplace', 'School': 'School', 'Religious': 'Other',
            'Military': 'Other', 'workplace': 'Workplace', 'Airport': 'Other','religious': 'Other'}
# creating new col
df['location_catg'] = df['location.1'].map(catg_map)
df['location_catg'].value_counts()

Other        68
Workplace    51
School       22
Name: location_catg, dtype: int64

In [7]:
# Recategorizing race

# removing any extra number of spaces with only one space 
df['race'] = df['race'].str.replace(r'\s+', ' ', regex=True) 
# removing spaces in the begining and end of the string
df['race'] = df['race'].str.strip() 
# mapping old to new categories
catg_map = {'white': 'White', 'White': 'White', 'Black': 'Black', '-': 'Unknown', 'black': 'Black', 
            'Latino': 'Latino', 'Asian': 'Asian', 'Other': 'Other', 'Native American': 'Other', 'unclear': 'Other'}
# updating col
df['race'] = df['race'].map(catg_map)
df['race'].value_counts()

White      73
Black      25
Unknown    13
Latino     11
Asian      10
Other       9
Name: race, dtype: int64

In [8]:
# checking the spree category
df.loc[df['type'] == 'Spree', ['case', 'total_victims']]

                                   case total_victims
2          Half Moon Bay spree shooting             8
7                Raleigh spree shooting             7
21     Atlanta massage parlor shootings             9
24   Jersey City kosher market shooting             7
26        Odessa-Midland shooting spree            32
32      Pennsylvania hotel bar shooting             4
38                T&T Trucking shooting             5
46         Rancho Tehama shooting spree            15
58          Baton Rouge police shooting             6
73              Alturas tribal shooting             6
82              Aurora theater shooting            82
94           Atlantis Plastics shooting             7
97              Westroads Mall shooting            13
105       Living Church of God shooting            11
110                      Hotel shooting             8
111                      Xerox killings             7
118  Caltrans maintenance yard shooting             7
120    Fort Lauderdale revenge shooting             7
124      Long Island Rail Road massacre            25
130         University of Iowa shooting             7
136     Shopping centers spree killings            20

In [9]:
# checking which location missing lon and lat
missing_lat_long = df.loc[df['latitude'] == '-', 'location'].to_list()
missing_lat_long

['Nashville, TN',
 'East Lansing, Michigan',
 'Half Moon Bay, California',
 'Monterey Park, California',
 'Chesapeake, Virginia',
 'Colorado Springs, Colorado',
 'Charlottesville, Virginia',
 'Hedingham, North Carolina',
 'Greenwood, Indiana',
 'Highland Park, Illinois',
 'Birmingham, Alabama',
 'Smithsburg, Maryland',
 'Tulsa, Oklahoma',
 'Uvalde, Texas',
 'Buffalo, New York']

### Adding latitude and longtitude for the missing ones

In [10]:
# List of places with latitude and longitude values
places = [
    {'place': 'Nashville, TN', 'lat': '36.162663', 'lon': '-86.781601'},
    {'place': 'East Lansing, Michigan', 'lat': '42.746880', 'lon': '-84.483704'},
    {'place': 'Half Moon Bay, California', 'lat': '37.463551', 'lon': '-122.428589'},
    {'place': 'Monterey Park, California', 'lat': '34.059818', 'lon': '-118.122803'},
    {'place': 'Chesapeake, Virginia', 'lat': '36.714588', 'lon': '-76.249931'},
    {'place': 'Colorado Springs, Colorado', 'lat': '38.8339578', 'lon': '-104.825348'},
    {'place': 'Charlottesville, Virginia', 'lat': '38.029306', 'lon': '-78.4766781'},
    {'place': 'Hedingham, North Carolina', 'lat': '35.8140324', 'lon': '-78.5398635'},
    {'place': 'Greenwood, Indiana', 'lat': '39.6136578', 'lon': '-86.1066526'},
    {'place': 'Highland Park, Illinois', 'lat': '42.1816919', 'lon': '-87.8003438'},
    {'place': 'Birmingham, Alabama', 'lat': '33.5206824', 'lon': '-86.8024326'},
    {'place': 'Smithsburg, Maryland', 'lat': '39.6548186', 'lon': '-77.5727681'},   
    {'place': 'Tulsa, Oklahoma', 'lat': '36.1563122', 'lon': '-95.9927516'},
    {'place': 'Uvalde, Texas', 'lat': '29.300357', 'lon': '-99.7733181'},         
    {'place': 'Buffalo, New York', 'lat': '42.8867166', 'lon': '-78.8783922'}
]

# Create a dictionary from the list for efficient lookup
place_dict = {place['place']: place for place in places}
place_dict

{'Nashville, TN': {'place': 'Nashville, TN',
  'lat': '36.162663',
  'lon': '-86.781601'},
 'East Lansing, Michigan': {'place': 'East Lansing, Michigan',
  'lat': '42.746880',
  'lon': '-84.483704'},
 'Half Moon Bay, California': {'place': 'Half Moon Bay, California',
  'lat': '37.463551',
  'lon': '-122.428589'},
 'Monterey Park, California': {'place': 'Monterey Park, California',
  'lat': '34.059818',
  'lon': '-118.122803'},
 'Chesapeake, Virginia': {'place': 'Chesapeake, Virginia',
  'lat': '36.714588',
  'lon': '-76.249931'},
 'Colorado Springs, Colorado': {'place': 'Colorado Springs, Colorado',
  'lat': '38.8339578',
  'lon': '-104.825348'},
 'Charlottesville, Virginia': {'place': 'Charlottesville, Virginia',
  'lat': '38.029306',
  'lon': '-78.4766781'},
 'Hedingham, North Carolina': {'place': 'Hedingham, North Carolina',
  'lat': '35.8140324',
  'lon': '-78.5398635'},
 'Greenwood, Indiana': {'place': 'Greenwood, Indiana',
  'lat': '39.6136578',
  'lon': '-86.1066526'},
 'Highland Park, Illinois': {'place': 'Highland Park, Illinois',
  'lat': '42.1816919',
  'lon': '-87.8003438'},
 'Birmingham, Alabama': {'place': 'Birmingham, Alabama',
  'lat': '33.5206824',
  'lon': '-86.8024326'},
 'Smithsburg, Maryland': {'place': 'Smithsburg, Maryland',
  'lat': '39.6548186',
  'lon': '-77.5727681'},
 'Tulsa, Oklahoma': {'place': 'Tulsa, Oklahoma',
  'lat': '36.1563122',
  'lon': '-95.9927516'},
 'Uvalde, Texas': {'place': 'Uvalde, Texas',
  'lat': '29.300357',
  'lon': '-99.7733181'},
 'Buffalo, New York': {'place': 'Buffalo, New York',
  'lat': '42.8867166',
  'lon': '-78.8783922'}}

In [11]:
# Function to replace missing lat and lon values
def replace_missing_lat_lon(row):
    if row['latitude'] == '-' or row['longitude'] == '-':
        place = place_dict.get(row['location'])
        if place:
            row['latitude'] = place['lat']
            row['longitude'] = place['lon']
    return row

# Apply the function to replace missing values
df = df.apply(replace_missing_lat_lon, axis=1)
df.head(20)

,case,location,date,fatalities,injured,total_victims,location.1,age_of_shooter,race,gender,latitude,longitude,type,year,location_catg
0,Nashville religious school shooting,"Nashville, TN",3-27-23,6,1,6,School,28,Unknown,"F (identified as transgender, per police)",36.162663,-86.781601,Mass,2023,School
1,Michigan State University shooting,"East Lansing, Michigan",2-13-23,3,5,8,School,43,Black,M,42.746880,-84.483704,Mass,2023,School
2,Half Moon Bay spree shooting,"Half Moon Bay, California",1-23-23,7,1,8,workplace,67,Asian,M,37.463551,-122.428589,Spree,2023,Workplace
3,LA dance studio mass shooting,"Monterey Park, California",1-21-23,11,10,21,Other,72,Asian,M,34.059818,-118.122803,Mass,2023,Other
4,Virginia Walmart shooting,"Chesapeake, Virginia",11-22-22,6,6,12,Workplace,31,Black,M,36.714588,-76.249931,Mass,2022,Workplace
5,LGBTQ club shooting,"Colorado Springs, Colorado",11-19-22,5,25,30,Other,22,White,M,38.8339578,-104.825348,Mass,2022,Other
6,University of Virginia shooting,"Charlottesville, Virginia",11-13-22,3,2,5,School,22,Black,M,38.029306,-78.4766781,Mass,2022,School
7,Raleigh spree shooting,"Hedingham, North Carolina",10-13-22,5,2,7,Other,15,White,M,35.8140324,-78.5398635,Spree,2022,Other
8,Greenwood Park Mall shooting,"Greenwood, Indiana",7-17-22,3,2,5,workplace,20,White,M,39.6136578,-86.1066526,Mass,2022,Workplace
9,Highland Park July 4 parade shooting,"Highland Park, Illinois",7-4-22,7,46,53,Other,21,White,M,42.1816919,-87.8003438,Mass,2022,Other
10,Church potluck dinner shooting,"Birmingham, Alabama",6-16-22,3,0,3,religious,70,White,M,33.5206824,-86.8024326,Mass,2022,Other
11,Concrete company shooting,"Smithsburg, Maryland",6-9-22,3,1,4,workplace,23,Unknown,M,39.6548186,-77.5727681,Mass,2022,Workplace
12,Tulsa medical center shooting,"Tulsa, Oklahoma",6-1-22,4,"(TK - ""fewer than 10""",TK,workplace,45,Black,M,36.1563122,-95.9927516,Mass,2022,Workplace
13,Robb Elementary School massacre,"Uvalde, Texas",5-24-22,21,17,38,School,18,Latino,M,29.300357,-99.7733181,Mass,2022,School
14,Buffalo supermarket massacre,"Buffalo, New York",5-14-22,10,3,13,workplace,18,White,M,42.8867166,-78.8783922,Mass,2022,Workplace
15,Sacramento County church shooting,"Sacramento, California",2-28-22,4,0,4,Religious,-,Unknown,M,38.60111019,-121.4189659,Mass,2022,Other
16,Oxford High School shooting,"Oxford, Michigan",11-30-21,4,7,11,School,15,Unknown,M,42.84410784,-83.25992831,Mass,2021,School
17,San Jose VTA shooting,"San Jose, California",5-26-21,9,0,9,Workplace,57,Unknown,M,37.316097,-121.888533,Mass,2021,Workplace
18,FedEx warehouse shooting,"Indianapolis, Indiana",4-15-21,8,7,15,Workplace,19,White,M,39.68663,-86.32313,Mass,2021,Workplace
19,Orange office complex shooting,"Orange, California",3-31-21,4,1,5,Workplace,44,Unknown,M,33.83542,-117.85379,Mass,2021,Workplace

In [12]:
# Convert the 'latitude' and 'longitude' columns to numeric
df['latitude'] = pd.to_numeric(df['latitude'])
df['longitude'] = pd.to_numeric(df['longitude'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   case            141 non-null    object
 1   location        141 non-null    object
 2   date            141 non-null    object
 3   fatalities      141 non-null    int64
 4   injured         141 non-null    object
 5   total_victims   141 non-null    object
 6   location.1      141 non-null    object
 7   age_of_shooter  141 non-null    object
 8   race            141 non-null    object
 9   gender          141 non-null    object
 10  latitude        141 non-null    float64
 11  longitude       141 non-null    float64
 12  type            141 non-null    object
 13  year            141 non-null    int64
 14  location_catg   141 non-null    object
dtypes: float64(2), int64(2), object(11)
memory usage: 16.6+ KB

In [13]:
# Changing date column to datetime format
df['date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   case            141 non-null    object
 1   location        141 non-null    object
 2   date            141 non-null    datetime64[ns]
 3   fatalities      141 non-null    int64
 4   injured         141 non-null    object
 5   total_victims   141 non-null    object
 6   location.1      141 non-null    object
 7   age_of_shooter  141 non-null    object
 8   race            141 non-null    object
 9   gender          141 non-null    object
 10  latitude        141 non-null    float64
 11  longitude       141 non-null    float64
 12  type            141 non-null    object
 13  year            141 non-null    int64
 14  location_catg   141 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(2), object(10)
memory usage: 16.6+ KB

In [14]:
# extracting the month as a new column
df['month'] = df['date'].dt.month_name()
df.tail()

,case,location,date,fatalities,injured,total_victims,location.1,age_of_shooter,race,gender,latitude,longitude,type,year,location_catg,month
136,Shopping centers spree killings,"Palm Bay, Florida",1987-04-23,6,14,20,Other,59,White,Male,28.033189,-80.642969,Spree,1987,Other,April
137,United States Postal Service shooting,"Edmond, Oklahoma",1986-08-20,15,6,21,Workplace,44,White,Male,35.667202,-97.429370,Mass,1986,Workplace,August
138,San Ysidro McDonald's massacre,"San Ysidro, California",1984-07-18,22,19,41,Other,41,White,Male,32.552001,-117.043081,Mass,1984,Other,July
139,Dallas nightclub shooting,"Dallas, Texas",1984-06-29,6,1,7,Other,39,White,Male,32.925166,-96.838676,Mass,1984,Other,June
140,Welding shop shooting,"Miami, Florida",1982-08-20,8,3,11,Other,51,White,Male,25.796491,-80.226683,Mass,1982,Other,August

In [15]:
# Split the 'location' column into 'city' and 'state'
df[['city', 'state']] = df['location'].str.split(',', expand=True)
df.head()

,case,location,date,fatalities,injured,total_victims,location.1,age_of_shooter,race,gender,latitude,longitude,type,year,location_catg,month,city,state
0,Nashville religious school shooting,"Nashville, TN",2023-03-27,6,1,6,School,28,Unknown,"F (identified as transgender, per police)",36.162663,-86.781601,Mass,2023,School,March,Nashville,TN
1,Michigan State University shooting,"East Lansing, Michigan",2023-02-13,3,5,8,School,43,Black,M,42.746880,-84.483704,Mass,2023,School,February,East Lansing,Michigan
2,Half Moon Bay spree shooting,"Half Moon Bay, California",2023-01-23,7,1,8,workplace,67,Asian,M,37.463551,-122.428589,Spree,2023,Workplace,January,Half Moon Bay,California
3,LA dance studio mass shooting,"Monterey Park, California",2023-01-21,11,10,21,Other,72,Asian,M,34.059818,-118.122803,Mass,2023,Other,January,Monterey Park,California
4,Virginia Walmart shooting,"Chesapeake, Virginia",2022-11-22,6,6,12,Workplace,31,Black,M,36.714588,-76.249931,Mass,2022,Workplace,November,Chesapeake,Virginia

In [16]:
# Checking the victim numbers to recode any strings to numbers
cols = ['injured', 'total_victims']
for col in cols:
    print(f'Column: {col}')
    print('-' * 30)        
    print(df[col].value_counts())
    print('~' * 50)

Column: injured
------------------------------
0                        25
1                        21
2                        15
3                        12
4                         9
6                         6
7                         5
13                        4
5                         4
8                         4
10                        4
25                        3
12                        3
23                        2
20                        2
17                        2
19                        2
14                        2
21                        2
9                         2
(TK - "fewer than 10"     1
26                        1
70                        1
11                        1
29                        1
24                        1
31                        1
46                        1
546                       1
22                        1
27                        1
53                        1
Name: injured, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Column: total_victims
------------------------------
5      16
7      16
11     10
15      9
3       8
6       8
8       8
9       6
10      6
12      5
4       5
21      3
34      2
29      2
19      2
18      2
13      2
16      2
35      2
20      2
44      2
17      2
14      2
23      1
41      1
48      1
37      1
53      1
604     1
46      1
30      1
82      1
26      1
38      1
28      1
22      1
36      1
TK      1
102     1
25      1
55      1
32      1
Name: total_victims, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [18]:
# cleaning num of victims variables

for col in cols:
    # removing any extra number of spaces with only one space
    df[col] = df[col].str.replace(r'\s+', ' ', regex=True) 
    # removing spaces in the begining and end of the string
    df[col] = df[col].str.strip() 

# replacing string with numbers
df['total_victims'] = df['total_victims'].str.replace('TK', '4') 
df['injured'] = df['injured'].str.replace('\(TK - "fewer than 10"', '8', regex=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   case            141 non-null    object
 1   location        141 non-null    object
 2   date            141 non-null    datetime64[ns]
 3   fatalities      141 non-null    int64
 4   injured         141 non-null    object
 5   total_victims   141 non-null    object
 6   location.1      141 non-null    object
 7   age_of_shooter  141 non-null    object
 8   race            141 non-null    object
 9   gender          141 non-null    object
 10  latitude        141 non-null    float64
 11  longitude       141 non-null    float64
 12  type            141 non-null    object
 13  year            141 non-null    int64
 14  location_catg   141 non-null    object
 15  month           141 non-null    object
 16  city            141 non-null    object
 17  state           141 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(2), object(13)
memory usage: 20.0+ KB

In [19]:
df['total_victims'] = df['total_victims'].astype(int)
df['injured'] = df['injured'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   case            141 non-null    object
 1   location        141 non-null    object
 2   date            141 non-null    datetime64[ns]
 3   fatalities      141 non-null    int64
 4   injured         141 non-null    int32
 5   total_victims   141 non-null    int32
 6   location.1      141 non-null    object
 7   age_of_shooter  141 non-null    object
 8   race            141 non-null    object
 9   gender          141 non-null    object
 10  latitude        141 non-null    float64
 11  longitude       141 non-null    float64
 12  type            141 non-null    object
 13  year            141 non-null    int64
 14  location_catg   141 non-null    object
 15  month           141 non-null    object
 16  city            141 non-null    object
 17  state           141 non-null    object
dtypes: datetime64[ns](1), float64(2), int32(2), int64(2), object(11)
memory usage: 18.9+ KB

In [20]:
# Dropping additional columns
cols_to_drop = ['location', 'location.1', 'gender']
df.drop(columns=cols_to_drop, inplace=True)
df.head()

,case,date,fatalities,injured,total_victims,age_of_shooter,race,latitude,longitude,type,year,location_catg,month,city,state
0,Nashville religious school shooting,2023-03-27,6,1,6,28,Unknown,36.162663,-86.781601,Mass,2023,School,March,Nashville,TN
1,Michigan State University shooting,2023-02-13,3,5,8,43,Black,42.746880,-84.483704,Mass,2023,School,February,East Lansing,Michigan
2,Half Moon Bay spree shooting,2023-01-23,7,1,8,67,Asian,37.463551,-122.428589,Spree,2023,Workplace,January,Half Moon Bay,California
3,LA dance studio mass shooting,2023-01-21,11,10,21,72,Asian,34.059818,-118.122803,Mass,2023,Other,January,Monterey Park,California
4,Virginia Walmart shooting,2022-11-22,6,6,12,31,Black,36.714588,-76.249931,Mass,2022,Workplace,November,Chesapeake,Virginia

In [24]:
# changing type of age column
df['age_of_shooter'] = df['age_of_shooter'].replace('-', '0').astype(int)
df['age_of_shooter'] = df['age_of_shooter'].replace(0, np.nan)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   case            141 non-null    object
 1   date            141 non-null    datetime64[ns]
 2   fatalities      141 non-null    int64
 3   injured         141 non-null    int32
 4   total_victims   141 non-null    int32
 5   age_of_shooter  139 non-null    float64
 6   race            141 non-null    object
 7   latitude        141 non-null    float64
 8   longitude       141 non-null    float64
 9   type            141 non-null    object
 10  year            141 non-null    int64
 11  location_catg   141 non-null    object
 12  month           141 non-null    object
 13  city            141 non-null    object
 14  state           141 non-null    object
dtypes: datetime64[ns](1), float64(3), int32(2), int64(2), object(7)
memory usage: 15.5+ KB

In [25]:
# Getting list of column names 
df.columns.to_list()

['case',
 'date',
 'fatalities',
 'injured',
 'total_victims',
 'age_of_shooter',
 'race',
 'latitude',
 'longitude',
 'type',
 'year',
 'location_catg',
 'month',
 'city',
 'state']

In [26]:
# Define the desired column order
column_order = ['case',  'date', 'year', 'month', 'city', 'state',
 'fatalities', 'injured', 'total_victims', 'location_catg', 'type', 'age_of_shooter', 'race',
 'latitude', 'longitude']
# Reorder the columns in the DataFrame
df = df.reindex(columns=column_order)
df.head()

,case,date,year,month,city,state,fatalities,injured,total_victims,location_catg,type,age_of_shooter,race,latitude,longitude
0,Nashville religious school shooting,2023-03-27,2023,March,Nashville,TN,6,1,6,School,Mass,28.0,Unknown,36.162663,-86.781601
1,Michigan State University shooting,2023-02-13,2023,February,East Lansing,Michigan,3,5,8,School,Mass,43.0,Black,42.746880,-84.483704
2,Half Moon Bay spree shooting,2023-01-23,2023,January,Half Moon Bay,California,7,1,8,Workplace,Spree,67.0,Asian,37.463551,-122.428589
3,LA dance studio mass shooting,2023-01-21,2023,January,Monterey Park,California,11,10,21,Other,Mass,72.0,Asian,34.059818,-118.122803
4,Virginia Walmart shooting,2022-11-22,2022,November,Chesapeake,Virginia,6,6,12,Workplace,Mass,31.0,Black,36.714588,-76.249931

In [ ]:
# exporting the cleaned data to csv
df.to_csv("../Resources/mass_shooting_1982to2023_cleaned.csv", encoding="utf-8", index=False, header=True)